.App {
  text-align: center;
}

html,
div,
header,
h1 {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #bd276d;
  color: #fff;
  font-family: "Lobster", cursive;
  font-weight: 300;
  height: 56px;
  width: 100%;
}
.header i {
  vertical-align: middle;
}

.header .main-title {
  flex: 1 1 20%;
  padding: 10px 18px;
  letter-spacing: 1.5px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 900;
}
.header .back-button {
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  display: none;
}

.header .search-form-container {
  flex: 2 1 50%;
}
.search-form-container input {
  width: 100%;
  outline: 0 none;
  border: 0 none;
  height: 36px;
  border-radius: 2px;
  font-size: 14px;
  padding: 0 16px;
}
.header .mobile-search {
  display: none;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1px;
  flex: 1 1 10%;
}
.header .search-icon {
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}
.header .cart {
  flex: 1 1 30%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.cart .cart-icon {
  position: relative;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: #9b6daf;
}
.cart .cart-icon .cart-count {
  position: relative;
  right: 10px;
  top: 3px;
  width: 30px;
  height: 18px;
  border-radius: 50%;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.container {
  width: 100%;
  padding-top: 66px;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.gym-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 7rem;
}

.gym-list-item {
  width: 200px;
  height: 280px;
  padding: 5px;
  margin: 15px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 2px 1px #e1e1e1;
  color: rgb(192, 41, 41);
  font-size: 16px;
  font-weight: 1000px;
}

.gym-list-item img {
  width: 200px;
  height: 250px;
}
.gym-list-item .gym-details {
  font-size: 12px;
  font-weight: 400;
  color: rgb(112, 38, 38);
}

.gym-list-item .gym-price {
  font-size: 12px;
  font-weight: 500;
  color: rgb(88, 56, 124);
}

.gym-list-item .gym-price i {
  font-size: 14px;
}

.gym-list-item .cart-button {
  padding: 0.5rem;
  width: 100%;
  height: 36px;
  background-color: #5898e8;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
}
